In [86]:
import pandas as pd
import requests
import json
import numpy as np


import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import plotly.express as px
from datetime import datetime
import os


%matplotlib inline

In [ ]:
# 2
# Считайте данные из Google Sheets, которые находятся по этой ссылке при помощи библиотеки requests. 
# Посчитайте процент мужчин среди всех посетителей сайта, округлите ответ до целых.

In [15]:
from io import BytesIO



req = requests.get('https://docs.google.com/spreadsheets/d/1e3PRXmMNXo9AZZnaol1aHgYxtH6KYaCDymEQlK6jaO8/export?format=csv')
data = req.content

df = pd.read_csv(BytesIO(data))

In [16]:
df

         date         gender  users
0  2020-06-14  Not specified    150
1  2020-06-14           male    117
2  2020-06-14         female     21

In [17]:
df.users.sum()

288

In [18]:
male_proc = df.users/288*100

In [19]:
male_proc.round()

0    52.0
1    41.0
2     7.0
Name: users, dtype: float64

In [20]:
# 3
# Скачайте файл с данными посещаемости сайта Яндекс.Метрика отсюда (сохранен в переменную df). 
# При помощи функции np.where создайте серию, в которую будет записываться 1, если посещения были сделаны роботами с браузера, 
# содержащего Chrome в названии, и 0 в других случаях. 
# Поместите получившуюся серию в переменную chrome_robots.

In [24]:
df3 = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-s-belihin-38/homeworks/lesson7/7_browser.csv')

In [26]:
df3.head ()

         date         browser user_type  users
0  2020-06-14   Google Chrome    People    139
1  2020-06-14   Chrome Mobile    People     35
2  2020-06-14   Google Chrome    Robots     28
3  2020-06-14  Yandex Browser    People     22
4  2020-06-14         Firefox    People     15

In [80]:
df3['robots'] = pd.Series(np.where((df3.browser.str.contains('Google Chrome')) & (df3.user_type == 'Robots'), '1', '0'))

In [81]:
df3.head()

         date         browser user_type  users robots
0  2020-06-14   Google Chrome    People    139      0
1  2020-06-14   Chrome Mobile    People     35      0
2  2020-06-14   Google Chrome    Robots     28      1
3  2020-06-14  Yandex Browser    People     22      0
4  2020-06-14         Firefox    People     15      0

In [82]:
df3 = df3.astype({'robots': 'int'})

In [83]:
chrome_robots = df3['robots']

In [84]:
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
Name: robots, dtype: int64

In [88]:
df3.head()

         date         browser user_type  users  robots
0  2020-06-14   Google Chrome    People    139       0
1  2020-06-14   Chrome Mobile    People     35       0
2  2020-06-14   Google Chrome    Robots     28       1
3  2020-06-14  Yandex Browser    People     22       0
4  2020-06-14         Firefox    People     15       0

In [100]:
df3['is_robots'] = pd.Series(np.where((df3.browser.str.contains('Google Chrome')) & (df3.user_type == 'Robots'), '1', '0'))

In [94]:
df3 = df3.astype({'is_robots': 'int'})

In [101]:
df3.head()

         date         browser user_type  users  robots is_robots
0  2020-06-14   Google Chrome    People    139       0         0
1  2020-06-14   Chrome Mobile    People     35       0         0
2  2020-06-14   Google Chrome    Robots     28       1         1
3  2020-06-14  Yandex Browser    People     22       0         0
4  2020-06-14         Firefox    People     15       0         0

In [102]:
chrome_robots = df3['is_robots']

In [103]:
chrome_robots

0     0
1     0
2     1
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
Name: is_robots, dtype: object

In [ ]:
# 4 
# У вас есть датасет с данными о кликах и показах по объявлению, в котором есть пропуски. 
# Вычислите количество строк без пропусков в колонке click_type. Запишите ответ в переменную not_nan_count

In [104]:
df4 = pd.read_csv('/mnt/HC_Volume_18315164/home-jupyter/jupyter-s-belihin-38/homeworks/lesson7/sample_ads.csv')

In [105]:
df4.head()

   ad_id user_id click_type
0  12345   qwert        top
1  12345   fsssc     center
2  12345   vfvgg        NaN
3  12345   asrvv        NaN
4  12345   tynuy        top

In [115]:
not_nan_count = df4.click_type.notna().sum()

In [116]:
not_nan_count

11

In [ ]:
# 5
# В списке lst находятся различные элементы. Создайте список new_list и сделайте следующее:
# при помощи конструкции try except и цикла попробуйте преобразовать каждое значение в листе в int
# если это получилось – добавьте преобразованное значение  в список new_list

In [117]:
new_list = []
lst = ['12', 'f']

In [119]:
for i in lst:
    try:
        int(i)
        new_list.append(i)
    except:
        continue

In [ ]:
# 6
# А теперь попробуем воспользоваться знаниями использования Telegram API. 
# Отправьте себе в личку любое послание, а в ответ к этому шагу напишите ник бота, 
# от имени которого будете отправлять сообщения.

In [122]:
import requests
import json
from urllib.parse import urlencode


token = '6022896037:AAFamtWZF0z7c7ZeZGjbAeC8f1Y-KpGk7Hk'
chat_id = 123  # your chat id

message = 'test'  # text which you want to send

params = {'821550390': chat_id, 'text': message}

base_url = f'https://api.telegram.org/bot{token}/'
url = base_url + 'sendMessage?' + urlencode(params)
# Only if you need it
# proxy = {'https': 'https://77.48.23.199:57842'}

# To send request via proxy
# resp = requests.get(url, proxies=proxy)
resp = requests.get(url)