In [1]:
import pandas as pd

In [10]:
df = pd.read_csv('2_taxi_nyc.csv')

In [25]:
all_pickups = df['pickups'].sum()

In [26]:
all_pickups

14265773

In [11]:
df.shape

(29101, 14)

In [13]:
df = df.rename(columns={'pcp 01': 'pcp_01', 'pcp 06': 'pcp_06', 'pcp 24': 'pcp_24'})

In [14]:
df.dtypes

pickup_dt        object
pickup_month     object
borough          object
pickups           int64
hday             object
spd             float64
vsb             float64
temp            float64
dewp            float64
slp             float64
pcp_01          float64
pcp_06          float64
pcp_24          float64
sd              float64
dtype: object

In [15]:
taxi=df

In [16]:
taxi.value_counts('borough')

borough
Staten Island    4343
Queens           4343
Manhattan        4343
EWR              4343
Brooklyn         4343
Bronx            4343
dtype: int64

In [47]:
m=taxi.groupby('borough').agg({'pickups':'sum'}).idxmin()

In [48]:
m

pickups    EWR
dtype: object

In [56]:
taxi.groupby(['borough','hday']).agg({'pickups':'mean'})

                        pickups
borough       hday
Bronx         N       50.771073
              Y       48.065868
Brooklyn      N      534.727969
              Y      527.011976
EWR           N        0.023467
              Y        0.041916
Manhattan     N     2401.302921
              Y     2035.928144
Queens        N      308.899904
              Y      320.730539
Staten Island N        1.606082
              Y        1.497006

In [58]:
pickups_by_mon_bor = taxi.groupby(['borough', 'pickup_month']).agg({'pickups':'sum'}).sort_values('pickups', ascending=False)

                            pickups
borough       pickup_month
Manhattan     Jun           1995388
              May           1888800
              Feb           1718571
              Mar           1661261
              Apr           1648278
              Jan           1455543
Brooklyn      Jun            482466
              May            476087
              Apr            378095
              Mar            346726
              Feb            328650
              Jan            309011
Queens        Jun            286311
              May            275893
              Mar            219561
              Apr            216857
              Feb            185695
              Jan            159211
Bronx         May             53037
              Jun             49006
              Apr             34617
              Mar             32232
              Feb             28694
              Jan             22461
Staten Island Jun              1673
              May              1517
              Apr              1068
              Mar               975
              Feb               903
              Jan               821
EWR           Jun                29
              May                27
              Mar                14
              Feb                14
              Jan                11
              Apr                10

In [61]:
pickups_by_mon_bor = taxi.groupby(['borough', 'pickup_month'], as_index = False)\
    .agg({'pickups':'sum'})\
    .sort_values('pickups', ascending=False)

In [62]:
pickups_by_mon_bor

          borough pickup_month  pickups
21      Manhattan          Jun  1995388
23      Manhattan          May  1888800
19      Manhattan          Feb  1718571
22      Manhattan          Mar  1661261
18      Manhattan          Apr  1648278
20      Manhattan          Jan  1455543
9        Brooklyn          Jun   482466
11       Brooklyn          May   476087
6        Brooklyn          Apr   378095
10       Brooklyn          Mar   346726
7        Brooklyn          Feb   328650
8        Brooklyn          Jan   309011
27         Queens          Jun   286311
29         Queens          May   275893
28         Queens          Mar   219561
24         Queens          Apr   216857
25         Queens          Feb   185695
26         Queens          Jan   159211
5           Bronx          May    53037
3           Bronx          Jun    49006
0           Bronx          Apr    34617
4           Bronx          Mar    32232
1           Bronx          Feb    28694
2           Bronx          Jan    22461
33  Staten Island          Jun     1673
35  Staten Island          May     1517
30  Staten Island          Apr     1068
34  Staten Island          Mar      975
31  Staten Island          Feb      903
32  Staten Island          Jan      821
15            EWR          Jun       29
17            EWR          May       27
16            EWR          Mar       14
13            EWR          Feb       14
14            EWR          Jan       11
12            EWR          Apr       10

In [63]:
def temp_to_celcius (x):
    i = 0
    i=5*(x-32)/9
    return i

In [64]:
taxi['temp_C'] = temp_to_celcius(taxi['temp'])
taxi['temp_C'][:5]

0   -1.111111
1   -1.111111
2   -1.111111
3   -1.111111
4   -1.111111
Name: temp_C, dtype: float64

In [1]:
from scipy import special #модуль питона, предназначенный для научных и инженерных расчетов

special.comb(n, k) #биномиальный коэффициент

NameError: name 'n' is not defined

In [22]:
n = 7
k = 0
p = 0.4
q = 0.6
#альтернативный вариант

from math import factorial


r1 = factorial(n)/(factorial(k) * factorial(n - k))*(p**k)*(q**(n-k))

In [23]:
r1

0.05764800999999997

In [24]:
n = 7
k = 0
p = 0.4
q = 0.6
#альтернативный вариант

from math import factorial


r1 = factorial(n)/(factorial(k) * factorial(n - k))*(p**k)*(q**(n-k))

In [25]:
u = r2+r1

In [26]:
1-u

0.7447016700000001

In [16]:
factorial(n)/(factorial(k) * factorial(n - k))

8.0

In [7]:
1-r

0.7035245200000001

In [20]:
c=0.6**4

In [15]:
1-c

0.8704000000000001